.guide-body{
    background-color: rgb(188, 240, 240);font-family: 'Lato', sans-serif;
}
.guide-h1{
    display: initial;background-color:rgb(47, 245, 106);
}
.guide-h4{
    display: initial;background-color:rgb(102, 243, 144);
}